*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

body {
    padding: 15px;
    background-color: beige;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

hr {
    margin: 10px 0;
}

ul {
    margin: 15px 15px 25px;
}

.flash-msg {
    margin: 0px!important;
}

.btn {
    padding: 3px;
    cursor: pointer;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    box-shadow: 0px 10px 20px -7px black;
}

.flash-msg {
    list-style: none;
    width: 100%;
    height: auto;
}
.error,
.success {
    color: white;
    padding: 10px;
}

.error,
.btn-delete {
    background-color: red;
}

.success {
    background-color: rgb(47, 217, 47);
}
.btn-edit,
.btn-delete,
.btn-add-post,
.btn-add-user,
.btn-save-user,
.btn-cancel,
.btn-save-post {
    margin: 10px 5px;
    padding: 10px;
    font-weight: 400;
}

.btn-add-post,
.btn-edit {
    background-color: rgb(37, 71, 222);
}

.btn-add-post {
    background-color: rgb(37, );
}

.btn-add-user,
.btn-save-user,
.btn-save-post {
    background-color: rgb(33, 155, 52);
}

.btn-cancel {
    background-color: rgb(190, 190, 190);
    color: black;
}

