{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block title %} Add Post {% endblock %}

{% block content %}

<h1>Add Post for {{user.f_name}} {{user.l_name}}</h1>
<hr>
<form action="/users/{{user.id}}/posts/new" method="POST">
    <label for="title">Title:
        <input type="text" name="title" id="title" required>
    </label>
    <label for="content">
        <span class="content-textarea">Content:</span>
        <textarea type="text" name="content" id="content" required></textarea>
    </label>
    <a class="btn btn-cancel" href="/{{user.id}}">Cancel</a>
    <button class="btn btn-save-post">Add</button>
</form>
{% endblock %}