{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/details.css">
{% endblock %}

{% block title %} User Details {% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-msg">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>User Details</h1>
<hr>
<div class="user-details">
    <img class="user-img" src="{{user.img_url}}" alt="User Profile">
    <div class="user-modify">
        <div class="user-name">{{ user.f_name }}&nbsp;{{ user.l_name }}</div>
        <div class="user-buttons">
          <form action="/users/{{user.id}}/delete" method="POST">
            <a class="btn btn-edit" href="/users/{{user.id}}/edit">Edit</a>
            <button class="btn btn-delete">Delete</button>
          </form>
        </div>
        <div class="user-post">
          <span class="user-post-header">Posts</span>
          <ul>
            {% for post in user.post %}
            <li><a href="/posts/{{post.id}}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
          <a href="/users/{{user.id}}/posts/new" class="btn btn-add-post">Add Post</a>
        </div>
    </div>
</div>
{% endblock %}