{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/post.css">
{% endblock %}

{% block title %} Blogly {% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-msg">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <h1>Recent Posts</h1>
    <ul class="post-recent">
    {% for idx in range(posts | length) %}
        <li class="post-recent-list">
            <h3 class="post-header"><a href="/posts/{{ posts[idx].id }}">{{ posts[idx].title }}</a></h3>
            <span>{{ posts[idx].content }}</span>
            <div>
                <div class="post-by">
                  <div class="post-recent-tags">Tags: 
                    {% for tag in posts[idx].tags%}
                    <a class="post-tags" href="/tags/{{ tag.id }}">{{ tag.tag_name }}</a>
                    {% endfor %}
                  </div>
                  <em>By {{ posts[idx].users.f_name }} {{ posts[idx].users.l_name }}</em>
                  <br>
                  <em>Created {{ dates[idx] }}</em>
                </div>
            </div>
        </li> 
    {% endfor %}
    </ul>
    <a href="/users" class="btn btn-add-user btn-post">View All User</a>
{% endblock %}