{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/tags.css">
{% endblock %}

{% block title %} Tag Details {% endblock %}

{% block content %}

<h1 class="post-title">{{ tag.tag_name }}</h1>
<hr>
<div>
    <ul>
        {% for post in tag.post %}
        <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
    </ul>
    <form action="/tags/{{tag.id}}/delete" method="POST">
        <a class="btn btn-add-tag" href="/tags/{{tag.id}}/edit">Edit</a>
        <button class="btn btn-delete">Delete</button>
    </form>
</div>
{% endblock %}