{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="/static/css/tags.css">
{% endblock %}

{% block title %} Tags {% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash-msg">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 class="post-title">Tags</h1>
<div>
    <ul>
        {% for tag in tags %} 
        <li><a href="/tags/{{tag.id}}">{{tag.tag_name}}</a></li>
        {% endfor %}
    </ul>
    <a autofocus=true class="btn btn-add-tag" href="/tags/new">Add Tag</a>
</div>
{% endblock %}